.portafolio__zetoFlix--btnSitio {
    color: var(--portazetoFlix__btn--sitio);
    background-color: var(--portazetoFlix__btn--sitiolink);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 40px;
    border: 2px solid var(--portazetoFlix__descripciones);
    border-radius: 5px;
}
.portafolio__zetoFlix--btnSitio:hover {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    transition: .4s;
}

@media screen and (min-width: 414px) and (max-width: 600px) {
    .portafolio__zetoFlix--btnSitio {
        padding: 5px 20px;
    }
    .portafolio__zetoFlix--btnSitio:hover {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        transition: .4s;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    .portafolio__zetoFlix--btnSitio {
        padding: 5px 25px;
    }
    .portafolio__zetoFlix--btnSitio:hover {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        transition: .4s;
    }
}