.portafolio__zetoFlix--proyectoDesktop {
    width: 450px;
    height: 400px;
    margin-right: 2rem;
}

@media screen and (min-width: 414px) and (max-width: 600px){
    .portafolio__zetoFlix--proyectoDesktop {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    .portafolio__zetoFlix--proyectoDesktop {
        display: none;
    }
}