.sofSkills__img {
    width: 500px;
    height: 280px;
    filter: saturate(120%);
}
.sofSkills__img:hover {
    filter: saturate(180%);
}

@media screen and (max-width: 1024px) {
    .sofSkills__img {
        width: 400px;
        height: 220px;
        position: relative;
        margin: 0 auto;
    }
}

@media screen and (min-width: 414px) and (max-width: 600px) {
    .sofSkills__img {
        display: none;
        width: 300px;
        height: 165px;
        position: relative;
        margin: 0 auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    .sofSkills__img {
        display: none;
    }
}