.softSkills__container {
    width: 500px;
    height: 550px;
}

@media screen and (min-width: 414px) and (max-width: 600px) {
    .softSkills__container {
        width: 80%;
        height: 500px;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    .softSkills__container {
        width: 350px;
        height: 500px;
    }
}


