.softSkills__bg {
    width: 100%;
    height: 950px;
    background-color: var(--softskills__bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .softSkills__bg {
        flex-direction: column;
    }
}

@media screen and (min-width: 414px) and (max-width: 600px) {
    .softSkills__bg {
        width: 100%;
        height: 800px;
        flex-direction: column;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    .softSkills__bg {
        width: 100%;
        height: 667px;
        flex-direction: column;
    }
}