.portafolio__materiales--descripcion1 {
    color: var(--portafolioaluraGeek__descripciones1);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    padding-right: 1rem;
    border-right: 2px solid var(--portazetoFlix__descripciones);
}


@media screen and (min-width: 375px) and (max-width: 413px) {
    .portafolio__materiales--descripcion1 {
        padding-right: .5rem;
    }
}